div.footer1Main{
    margin: 0;
    border-top: 1px solid #e7e7e7;
}

div.footer_ensure{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

div.footer_desc{
    width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
}

div.footer_desc div.descColumn{
    width: 20%;
    float: left;
    padding-left: 15px;
}

div.footer_desc div.descColumn span.descColumnTitle{
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}

div.footer_desc a{
    display: block;
    padding-top: 3px;
}

