div.footer2Main{
    position: relative;
    border-top: 2px solid #C40000;
    margin: 0;
    background-color: black;
    padding-bottom: 20px;
}

div.copyright{
    margin: 0 auto;
    width: 1000px;
}

div.copyright span.slash{
    color: white;
}

div.footer2Main div.copyright div.white_link a{
    color: white;
    padding: 0 5px;
}

div.footer2Main div.copyright div.white_link{
    padding: 10px 0;
    margin-left: 10px;
}

div.license{
    padding-left: 15px;
}

div.license span{
    color: #A4A4A4;
}

div.license div.copyRightYear{
    margin: 10px 0;
    color: #686868;
}

img.cateye{
    position: absolute;
    top: -33px;
    margin-left: 10px;
}
